<div class="container">
    <div class="button-row">
        <button (click)="copyToClipboard()">
            <img src="../../../../../assets/icons/copy.png"/>
            <span>Copy</span>
        </button>

        <button (click)="downloadArt()">
            <img src="../../../../../assets/icons/download.png"/>
            <span>Download</span>
        </button>
    </div>

    <div class="output-row">
        <p [style.fontSize]="fontSize">{{ wordArt }}</p>
        <!-- for download -->
        <p #art id="art">{{ wordArt }}</p>
    </div>

    <p class="notification-msg" [class.show]="showCopyMessage">Copied to clipboard!</p>

    <p class="notification-msg" [class.show]="showDownloadMessage">Downloading!</p>

    <img class="spotted-circle" src="../../../../../assets/vector-art/circle-spotted.png"/>
</div>