$large-width: 1024px;
$small-width: 480px;

.container {
    position: relative;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: calc(100vw - 10rem);

    padding: 1rem;
    border-radius: 0.75rem;
    border: 1px solid #595959;
    background-color: #0D0D0D;

    @media (max-width: $large-width) {
        width: calc(100vw - 6rem);
    }

    @media (max-width: $small-width) {
        width: calc(100vw - 4rem);
    }
}

.button-row {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
}

.button-row button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-direction: column;
    background-color: transparent;

    border: none;
    cursor: pointer;

    &:hover {
        img { filter: sepia(100%) saturate(1000%) hue-rotate(270deg); }
        span { color: #E1A6F7; }
    }

    @media (max-width: $large-width) {
        &:hover {
            img { filter: grayscale(100%); }
            span { color: #FFFFFF; }
        }
    }
}

.button-row button img {
    height: 2rem;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.button-row button span {
    color: #FFFFFF;
    text-align: right;
    font-size: 1rem;
    font-weight: light;
    font-family: "Inter", sans-serif;
    transition: color 0.3s ease-in-out;

    @media (max-width: $small-width) {
        font-size: 0.875rem;
    }
}

.output-row {
    height: 17rem;
    display: grid;
    place-items: center;
}

.output-row p {
    margin: 0;
    white-space: pre;
    color: #FFFFFF;
    font-weight: normal;
    font-family: "Space Mono", monospace;

    padding: 2em 0 2em 2em; // 'em' to make it depend on font-size
    background-color: #0D0D0D;

    &#art {
        position: absolute;
        right: -67500rem;
        font-size: 6.75rem; // large font-size to make downloaded image look good
    }
}

.notification-msg {
    position: absolute;
    top: -2.5rem;
    right: 0;

    margin: 0;
    color: transparent;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: medium;
    font-family: "Inter", sans-serif;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.show {
        opacity: 1;
    }

    @media (max-width: $small-width) {
        top: -1.5rem;
        font-size: 0.875rem;
    }
}

.spotted-circle {
    height: 7rem;
    object-fit: contain;

    position: absolute;
    left: -3.5rem;
    top: calc(50% - 3.5rem);

    @media (max-width: $small-width) {
        height: 5rem;
        left: -2.5rem;
        top: calc(50% - 2.5rem);
    }
}