$large-width: 1024px;
$small-width: 480px;

.container {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
    width: calc(100vw - 4rem);

    @media (max-width: $small-width) {
        gap: 1rem;
        width: calc(100vw - 2rem);
    }
}

.title {
    margin: 0;
    color: #FFFFFF;
    text-align: center;
    font-size: 2.5rem;
    font-weight: medium;
    font-family: "Space Grotesk", sans-serif;

    @media (max-width: $small-width) {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.faq-list {
    width: 100%;
    overflow: hidden;
    border-radius: 1.25rem;
    border: 2px solid #676464;
}

.faq-list loading-spinner {
    border: 1px solid transparent; // this is needed to provide padding around the spinner
}

.faq-item {
    position: relative;
    width: calc(100% - 4rem);
    padding: 1rem 2rem;
    overflow: hidden;

    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: center;

    border-bottom: 1px solid #676464;
    transition: all 0.3s ease-in-out;

    &:last-child {
        border-bottom: none;
    }

    &.open {
        gap: 1rem;
        p {
            height: auto;
            opacity: 1;
        }
    }
}

.faq-item h2 {
    margin: 0;
    color: #FFFFFF;
    font-size: 1.75rem;
    font-weight: medium;
    font-family: "Inter", sans-serif;
    width: calc(100% - 2rem);

    @media (max-width: $small-width) {
        font-size: 1.25rem;
        font-weight: bold;
    }
}

.faq-item p {
    margin: 0;
    height: 0;
    opacity: 0;
    width: calc(100% - 2rem);
    transition: all 0.3s ease-in-out;

    color: #D5D5D5;
    font-size: 1.25rem;
    font-weight: normal;
    font-family: "Inter", sans-serif;

    @media (max-width: $small-width) {
        font-size: 1rem;
    }
}

.faq-item button {
    position: absolute;
    right: 2rem;
    top: 0.5rem;

    height: 3rem;
    width: calc(100% - 4rem);
    border: none;
    cursor: pointer;
    background-color: transparent;

    img {
        position: absolute;
        top: 0.5rem;
        right: 0;

        height: 1.75rem;
        object-fit: contain;
        transition: opacity 0.3s ease-in-out;

        &.open {
            opacity: 0;
        }
    }
}