<div class="page">
    <creator-info/>

    <div class="introduction">
        <h1>Craft Messages That Speak in <span>Symbols<img src="../../../assets/vector-art/loop-blue.png"/></span></h1>
        <p>Transform your text into stunning ASCII art! Instantly see your words come alive as a captivating symbol artwork. It's a quick and easy way to create eye-catching messages.</p>
        <img class="blue-circle" src="../../../assets/vector-art/circle-blue.png"/>
    </div>

    <textify-input/>

    <how-it-works/>

    <promo-banner/>

    <faq/>

    <footer>
        <creator-info/>

        <button class="scroll-up" (click)="scrollToTop()">
            <img src="../../../assets/vector-art/arrow-3.png"/>
            <p>Scroll Up</p>
        </button>

        <img class="purple-loop" src="../../../assets/vector-art/loop-purple.png"/>
    </footer>
</div>