<div class="container">
    <div class="heading">
        <h1>How It Works?</h1>
        <p>Craft Your Message with Textify's Symbolic Touch in three easy steps</p>
    </div>

    <div class="card-container">
        <div class="card card-1">
            <div class="number">1</div>
            <img src="../../../../../assets/icons/computer.png"/>
            <h2>Enter Your Text</h2>
            <p>Begin by typing or pasting your message into the Textify input box.</p>
        </div>

        <div class="arrow arrow-1">
            <img src="../../../../../assets/vector-art/arrow-1.png"/>
        </div>

        <div class="card card-2">
            <div class="number">2</div>
            <img src="../../../../../assets/icons/calculator.png"/>
            <h2>Type Your Symbols</h2>
            <p>Input up to four symbols directly into the designated area.</p>
        </div>

        <div class="arrow arrow-2">
            <img src="../../../../../assets/vector-art/arrow-2.png"/>
        </div>

        <div class="card card-3">
            <div class="number">3</div>
            <img src="../../../../../assets/icons/button-press.png"/>
            <h2>Transform Your Text</h2>
            <p>Click the "Convert" button, and voilà! Your text is ready</p>
        </div>
    </div>

    <img class="yellow-circles" src="../../../../../assets/vector-art/circles-yellow.png"/>
</div>