<div class="card">
    <h1 class="app-name">Textify</h1>

    <div class="creator-info">
        <p class="creator-name">Daniel Ope</p>

        <a class="icon-link" href="https://github.com/Daniel-Ope06" target="_blank">
            <img src="../../../../../assets/creator-info/github.png"/>
        </a>

        <a class="icon-link" href="https://linkedin.com/in/opeoluwa-oyedeji" target="_blank">
            <img src="../../../../../assets/creator-info/linkedin.png"/>
        </a>
    </div>
</div>