$border-color: #A08CE1;
$fill-color: rgba(#D87BF9, 0.2);

.container {
    display: grid;
    place-items: center;
    height: 100%;
}

.sbl-circ-path {
    height: 48px;
    width: 48px;
    color: $fill-color;
    position: relative;
    display: inline-block;
    border: 5px solid;
    border-radius: 50%;
    border-right-color: $border-color;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}